<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Terms & Conditions | Your Travel Agency</title>
  <style>
    /* CSS styles */
    p {
      font-size: 1rem;
    }
    main h2 {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    .service {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
      padding: 1rem;
      border-radius: 5rem 1rem 1rem 5rem;
      transition: all 0.1s ease-in;
      cursor: pointer;
    }
    .service:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    }
    .service img {
      width: 15rem;
      height: 15rem;
      border-radius: 4rem 1rem 1rem 4rem;
      margin-right: 1rem;
    }
    .service-details {
      flex: 1;
    }
    @media screen and (max-width: 1050px) {
      main h2 {
        font-size: 2rem;
      }
      .service img {
        width: 10rem;
        height: 10rem;
        border-radius: 4rem 1rem 1rem 4rem;
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: 635px) {
      main h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      .service {
        border-radius: 1rem;
        flex-direction: column;
      }
      .service img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
        margin-right: auto !important;
      }
      .service-details {
        text-align: center;
      }
      p {
        margin-left: auto;
        /* max-width: 20rem; */
      }
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="nav">
          <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
          <ul>
            <li>
              <a href="../index.html" class="link">Home</a>
              <a href="./about.html" class="link">About Us</a>
            </li>
            <li>
              <a href="./destinations.html" class="link">Destinations</a>
              <a href="#" class="link">Features</a>
            </li>
            <li>
              <a href="./prices.html" class="link">Pricing</a>
              <a href="./reviews.html" class="link">Reviews</a>
            </li>
            <li>
              <a href="#" class="link">Terms & Policy</a>
            </li>
          </ul>
          <div class="cta first">
            <a class="primary-btn small">Log In</a>
          </div>
          <i class="fa-solid fa-bars" style="color: #000000" id="nav-icon" onclick="toggleSidebar()"></i>
          <div id="sidebar" class="sidebar">
            <ul>
              <li>
                <a href="../index.html" class="link">Home</a>
                <a href="./about.html" class="link">About Us</a>
              </li>
              <li>
                <a href="./destinations.html" class="link">Destinations</a>
                <a href="#" class="link">Features</a>
              </li>
              <li>
                <a href="./prices.html" class="link">Pricing</a>
                <a href="./reviews.html" class="link">Reviews</a>
              </li>
            </ul>
            <div class="cta second">
              <a class="primary-btn small">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="fade-in">
    <div class="container">
      <h1>Terms & Conditions</h1>
      <strong>Last updated on JAN 13th 2025</strong>
      <p style="margin-bottom: 2rem;">
        Welcome to Travelo (“Website,” “we,” “us,” or “our”). By accessing and using our website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree, please refrain from using our services.This website provides travel-related content, itineraries, recommendations, and booking services.
        Users must be 18 years or older or have parental/guardian consent to use our services.
        You agree not to use the website for any unlawful purpose or in a way that may harm the website's reputation.
      </p>
      <hr />
      <h2>Cancellation & Refund Policy</h2>
      <p style="margin-bottom: 2rem;">
        Last updated on JAN 13th 2025
        <strong>Cancellations by Users: If you need to cancel a booking, please do so through your account or by contacting us. Cancellation charges may apply as per the service provider’s policy.
          Refund Process: Refunds, if applicable, will be processed within 7-14 business days and credited to the original payment method. Some bookings may be non-refundable.
          Cancellations by Us: In rare cases, we may need to cancel bookings due to unforeseen circumstances (e.g., natural disasters, technical issues). In such cases, users will receive a full refund or the option to reschedule.</strong>
      </p>
      <hr />
      <h2>Shipping & Delivery Policy</h2>
      <p style="margin-bottom: 2rem;">
        Last updated on JAN 13th 2025
        <strong>Shipping is not applicable for business.</strong>
      </p>
      <hr />
      <h2>Privacy Policy</h2>
      <p style="margin-bottom: 2rem;">
        This Privacy Policy describes how AYUSHMAAN RAJPUT ("we", "us", or "our") collects, uses, and discloses your personal information when you visit our website or make a purchase from us.
        <br><br>
        **Personal Information We Collect**
        <br><br>
        When you visit the website, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the website, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the website, and information about how you interact with the website. We refer to this automatically-collected information as "Device Information".
        <br><br>
        We collect Device Information using the following technologies:
        <br><br>
        - "Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.
        - "Log files" track actions occurring on the website, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
        - "Web beacons", "tags", and "pixels" are electronic files used to record information about how you browse the website.
        <br><br>
        Additionally, when you make a purchase or attempt to make a purchase through the website, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. We refer to this information as "Order Information".
      </p>
    </div>
  </main>
  <div class="wishlist" id="wishlist">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
  <div id="wishlist-container" class="wishlist-container">
    <div class="wishlist-content" id="wishlist-content"></div>
    <div>
      <p style="margin-bottom: 1rem" id="estimated">
        Total Estimated Price : <strong id="total-amount">0</strong>
      </p>
      <button id="buy" class="primary-btn">Checkout Now</button>
    </div>
  </div>
  <footer>
    <div class="container">
      <div>
        <div class="socials">
          <h3>Leading the way in adventure</h3>
          <div>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook-f" style="color: #000000"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram" style="color: #000000"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter" style="color: #000000"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
              <i class="fa-brands fa-youtube" style="color: #000000"></i>
            </a>
          </div>
        </div>
        <div class="newsletter">
          <h3>Join Our Newsletter</h3>
          <input type="email" placeholder="Enter your e-mail" />
          <img src="../images/icons/cta-btn.png" alt="Submit Icon" onclick="showPopup()" />
          <div id="popup" class="popup"></div>
        </div>
      </div>
      <hr />
      <div>
        <div>
          <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
          <p>
            Travell plans are not really an instrument themselves but a delivery mechanism or strategy for mostly others
          </p>
        </div>
        <div>
          <h4>Contact</h4>
          <a href="/">+913134566585</a>
          <a href="">info@travelo.com</a>
          <a href="">support@travelo.com</a>
        </div>
        <div>
          <h4>Company</h4>
          <a href="/">About Us</a>
          <a href="">Features</a>
          <a href="">Careers</a>
        </div>
        <div>
          <h4>Resource</h4>
          <a href="/">Press Info</a>
          <a href="">Customers</a>
          <a href="">Reviews</a>
        </div>
      </div>
      <hr />
      <div>
        <p>@2023 travelo | All Rights Reserved</p>
        <div>
          <p>We Accept Payment:</p>
          <img src="../images/icons/logos_stripe.svg" alt="Stripe Logo" />
          <img src="../images/icons/Paypal.svg" alt="Paypal Logo" />
          <img src="../images/icons/Payonner 1.svg" alt="Payoneer Logo" />
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="../main.js"></script>
<!-- </script> -->
</html>
